{% extends "supervisor/base.html" %}
{% load static %}

{% block header_new %}
{% endblock header_new %}

{% block main %}

  <section class="content">
    <div class="container-fluid mt-4">

      <div id="alert-box"></div>

      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">Αλλαγή Κωδικού για {{ user.username }}</h3>
        </div>
        <div class="card-body">
          <form id="changePasswordForm">
            {% csrf_token %}
            <div class="form-group">
              <label>Τρέχων Κωδικός</label>
              <input type="password" name="old_password" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Νέος Κωδικός</label>
              <input type="password" name="new_password1" class="form-control" required>
            </div>
            <div class="form-group">
              <label>Επιβεβαίωση Νέου Κωδικού</label>
              <input type="password" name="new_password2" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-warning mt-3"><i class="fas fa-save"></i> Αλλαγή</button>
            <a href="{% url 'supervisor:author_list' %}" class="btn btn-secondary mt-3">Ακύρωση</a>
          </form>
        </div>
      </div>

    </div>
  </section>

{% endblock main %}

{% block script_new %}

<script>
$(function(){

  $('#changePasswordForm').submit(function(e){
    e.preventDefault();

    $.ajax({
      url: "{% url 'supervisor:author_change_password' user.id %}",
      type: "POST",
      data: $(this).serialize(),
      success: function(resp){
        if(resp.success){
          $('#alert-box').html('<div class="alert alert-success">Ο κωδικός άλλαξε επιτυχώς!</div>');
          $('#changePasswordForm')[0].reset();
        } else if(resp.errors){
          let errorHTML = '<div class="alert alert-danger"><ul>';
          for(let key in resp.errors){
            errorHTML += `<li>${resp.errors[key]}</li>`;
          }
          errorHTML += '</ul></div>';
          $('#alert-box').html(errorHTML);
        } else {
          $('#alert-box').html('<div class="alert alert-danger">Σφάλμα κατά την αλλαγή κωδικού.</div>');
        }
      },
      error: function(){
        $('#alert-box').html('<div class="alert alert-danger">Σφάλμα σύνδεσης με τον διακομιστή.</div>');
      }
    });

  });

});
</script>
{% endblock script_new %}
