{% extends "supervisor/base.html" %}
{% load static %}

{% block header_new %}
<link rel="stylesheet" href="{% static 'AdminLte-3-2-0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'AdminLte-3-2-0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'AdminLte-3-2-0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock header_new %}

{% block main %}

  <section class="content-header">
    <h4><i class="fas fa-envelope"></i> Μηνύματα Επικοινωνίας</h4>
  </section>

  <section class="content">
    <div class="container-fluid">
      <table class="table table-bordered table-hover" id="contact-table">
        <thead class="bg-primary text-white">
          <tr>
            <th>Όνομα</th>
            <th>Email</th>
            <th>Θέμα</th>
            <th>Ημερομηνία</th>
            <th>Κατάσταση</th>
            <th>Ενέργειες</th>
          </tr>
        </thead>
        <tbody>
          {% for msg in messages %}
          <tr id="row-{{ msg.pk }}" class="{% if msg.status == 0 %}table-warning{% endif %}">
            <td>{{ msg.name }}</td>
            <td>{{ msg.email }}</td>
            <td>{{ msg.subject }}</td>
            <td>{{ msg.created_at|date:"d/m/Y H:i" }}</td>
            <td>
              {% if msg.status == 0 %}
                <span class="badge badge-warning">Μη αναγνωσμένο</span>
              {% else %}
                <span class="badge badge-success">Αναγνωσμένο</span>
              {% endif %}
            </td>
            <td>
              <a href="{% url 'contact_detail' msg.pk %}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
              <button class="btn btn-danger btn-sm delete-btn" data-id="{{ msg.pk }}"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>


{% endblock main %}

{% block script_new %}
<script src="{% static 'AdminLte-3-2-0/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLte-3-2-0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'AdminLte-3-2-0/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'AdminLte-3-2-0/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'AdminLte-3-2-0/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<script>
$(document).ready(function(){
  // DataTable setup
  $('#contact-table').DataTable({
    responsive: true,
    pageLength: 10,
    order: [[0, 'desc']],
    language: {
      url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/el.json'
    }
  });  
  $('.delete-btn').click(function(){
    var id = $(this).data('id');
    if(confirm('Είστε σίγουροι ότι θέλετε να διαγράψετε αυτό το μήνυμα;')){
      $.ajax({
        url: '/supervisor/delete-message/' + id + '/',
        type: 'POST',
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        success: function(resp){
          if(resp.success){
            $('#row-' + id).fadeOut();
          }
        }
      });
    }
  });
});
</script>
{% endblock script_new %}
